html{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  } 
  
.wrapper {
    display: grid;
    grid-template-columns: 2fr,1fr;
    grid-auto-rows:350px;
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
  }
  
  .wrapper > div,article{
    padding: .5em;
  }
  
  .header{
    grid-column: 1/4;
    background-color:#63B3ED;
    color:#FFFFFF;
    /* text-align: center; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items:center;
  }
  
  .header img{
    width: 225px;
    height: 65%;
    border-radius: 95%;
  }
  
  .header h1{
    font-size:36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .quote{
    margin-top: -20px;
  }
  .date{
    color: #718096;
    margin-top: -20px;
  }
  
  .firstblog > h2{
    font-size: 32px;
    color:#48BB78 ;
  }
  
  .secondblog > h2{
    font-size: 32px;
    color:#48BB78 ;
  }
  
  .firstblog img{
    float: right;
    width: 270px;
    height: 270px;
    margin-left: 15px;
  }
  
  .secondblog img{
    float: right;
    width: 360px;
    height: 400px;
    margin-left: 15px;
  }
  
  .social{
    color: #48BB78
  }
  
  .social > ul{
    color:#4299E1;
  }
  
  .archives{
    color: #48BB78
  }
  
  .archives >ul{
    color: #4299E1;
  }
  
  .about{
    display:grid;
    padding: .5em; /* prevents this from sticking to the edge of the container */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#000000;
    background-color: #E2E8F0;
  }
  
  /* footer{
    grid-column: 1/3;
    margin: 5em;
    background-color:#2C5282;
    color:#FFFFFF;
  }  */
  
  .footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #2C5282;
    color:#FFFFFF
  } 